.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

.container {
    height: 100%;
    background-color: lightgray;
}

.user {
    background-color: #ededed;
    height: max-content;
}