.instructions {
width: 60%;
margin: 0 auto;
margin-top: 40px;
padding: 10px;
box-shadow: 3px 3px 6px 2px rgb(124, 151, 171);
border-radius: 5px;
background-color: #eef2f3;
color: rgb(23, 64, 94);
}

.center {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.btns {
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}

.action-btn {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: 0px;
    padding: 10px;
    font-weight: bold;
}

.action-btn:disabled {
    opacity: 0.6;
}

.success {
    background-color: #5cb85c;
    color: white;
    width: 85px;
}

.success:hover:enabled {
    background-color: #ffffff;
    color: #50a050;
    border: 1px solid #50a050;
}

.failure {
    background-color: #d9534f;
    color: white;
}

.failure:hover:enabled {
    background-color: #ffffff;
    color: #d53b36;
    border: 1px solid #d53b36;
}

