.navBar-content {
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    min-height: auto !important;
}

#nav {
    background-color: #ffffff;
    box-shadow: 0.5px 1px 5px 1px rgb(124, 151, 171);
    height: 55px;
}

.demo {
    background-image: linear-gradient(to bottom right,#ffd98c,#fc7a69);
    height: 50px;
    width: 143px;
    box-shadow: 2px 2px 1px 1px #4928d14d;
    margin: 2px;
    border: 1px;
    border-radius: 3px;
    font-style: normal;
    color: #221E45;
}

.demo:hover {
    background-image: linear-gradient(to bottom right,#fdde9f,#ffa093);
}

.items {
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: Open sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    background-color: #ffffff;
    color: #555555;
    margin: 0 10px;
    font-family: 'Open Sans';
    border-radius: 0px;
}

.btn:hover {
    color: #fc7a69;
    border-bottom: 1px solid #fc7a69;
    transition: 0.3s ease;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}